In [1]:
import pandas as pd
import numpy as np

import os
import glob

import matplotlib.pyplot as plt

# Definición de funciones
---
A continuación definimos dos funciones para importar y limpiar los datos a partir de los archivos `.csv` proveídos por Precia.

La función `import_data()` retorna un diccionario donde cada entrada es un DataFrame correspondiente a cada archivo de datos. Mientras tanto, la función `clean_data()` elimina las columnas innecesarias y convierte las fechas y horas en los formatos correspondientes.

In [2]:
def clean_data(tesdata):
    # Eliminamos columnas innecesarias
    tesdata = tesdata.drop(columns=['c_clase', 'd_fechacumpliento', 'i_diasalcumpliento', 'c_indicador',
                                    'e_tasacupon', 'c_sesion', 'e_margen', 'i_numerocupon', 'e_amortizacion',
                                    'd_fechapago', 'e_interes', 'e_flujototal', 'e_saldamrtizacion',
                                    'i_filtromonto', 'i_filtrotasa', 'c_amplitud', 'c_numcontrol',
                                    'i_grucalificacion', 'i_grutipotasa', 'i_grumoneda', 'i_rangvencimi',
                                    'i_diasvencimiento', 'i_metodofiltro', 'i_codfiltroaplicdo', 'e_errorprecio',
                                    'c_caja', 'c_grupo', 'c_estado', 'c_modalidad', 'c_reinversion', 
                                    'i_fraccionventa', 'i_fraccioncompra', 'c_nitventa', 'c_nitcompra',
                                    'i_corredorventa', 'i_corredorcompra', 'i_codigobroker', #segunda tanda
                                    'i_folio', 'i_numemisionbr', 'c_moneda', 'e_valormoneda', 'c_tipotitulo', 
                                    'c_broker', 'c_tipooperacion'])
    
    # Eliminamos las horas iguales a 00:00
    tesdata = tesdata.loc[(tesdata["c_sistnegcion"]=="SEN") & (tesdata["c_hora"] != "00:00")]
    
    # Convertirmos las horas al formato correspondiente
    tesdata['c_hora'] = pd.to_datetime(tesdata['c_hora'],format= '%H:%M:%S').dt.time
    
    return tesdata

In [3]:
def import_data():
    
    # Definimos los caminos de los datos
    pathTesis = os.getcwd()
    pathData  = os.path.join(pathTesis,'Historico_Operaciones')
    
    # Guardamos los nombres de los archivos csv que queremos importar
    filenames = glob.glob(pathData+"/*.csv")
    
    # Definimos las listas vacias donde vamos a guardar los resultados:
    # Nombre de los datos
    varnames  = []
    # Datos numericos de los datos
    alldata   = []
    
    for i in filenames:
        
        # Guardamos los datos de los archivos csv
        temp = pd.read_csv(i, sep="|", parse_dates=["d_fechaoperacion", "d_fechaemistit",
                                                      "d_fechacumpliento", "d_fechapago"])
        # Aplicamos la funcion que limpia los datos
        temp = clean_data(temp)
        alldata.append(temp)
        
        # Generamos los keys del diccionario que contiene los datos
        # i.e. aqui esta el nombre del dataframe de los datos
        
        base   = os.path.basename(i)
        dfname = os.path.splitext(base)[0]
        varnames.append(dfname)
        
    return dict(zip(varnames, alldata))

# Importamos los datos
---
Aplicamos las funciones y evaluamos resultados

In [4]:
data = import_data()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [5]:
# Verificamos que el formato de las horas este bien

tfit17 = data["TFIT_2017"]
type(tfit17["c_hora"].values[0])

datetime.time

In [6]:
# Visualizamos las primeras 30 entradas de los datos para TFIT_2017

tfit17.head(100)

,d_fechaoperacion,c_sistnegcion,c_nemotecnico,d_fechaemistit,d_fechaventit,e_preciolimpio,e_preciototal,e_rentabilidad,e_cantidad,e_volumen,i_diasalvenciento,c_hora
154287,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.335,108.915,5.341,5.000000e+09,5.445790e+09,804,08:42:47
154288,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.335,108.915,5.341,5.000000e+09,5.445790e+09,804,08:44:18
154289,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.325,108.905,5.346,1.000000e+09,1.089058e+09,804,08:44:18
154290,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.377,108.957,5.321,3.000000e+09,3.268734e+09,804,08:57:41
154291,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.377,108.957,5.321,5.000000e+09,5.447890e+09,804,08:57:41
154292,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.385,108.965,5.317,5.000000e+09,5.448290e+09,804,09:21:11
154293,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.394,108.974,5.313,5.000000e+09,5.448740e+09,804,09:21:11
154294,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.398,108.978,5.311,5.000000e+09,5.448940e+09,804,09:21:11
154295,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.401,108.981,5.309,5.000000e+09,5.449090e+09,804,09:21:11
154296,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.402,108.982,5.309,5.000000e+09,5.449140e+09,804,09:21:11
154297,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.408,108.988,5.306,5.000000e+09,5.449440e+09,804,09:21:11
154298,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.411,108.991,5.304,5.000000e+09,5.449590e+09,804,09:21:11
154299,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.415,108.995,5.303,5.000000e+09,5.449790e+09,804,09:21:11
154300,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.416,108.996,5.302,5.000000e+09,5.449840e+09,804,09:21:11
154301,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.416,108.996,5.302,5.000000e+09,5.449840e+09,804,09:21:11
154302,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.417,108.997,5.302,5.000000e+09,5.449890e+09,804,09:21:11
154303,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.419,108.999,5.301,4.000000e+09,4.359992e+09,804,09:21:11
154304,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.425,109.005,5.298,5.000000e+09,5.450290e+09,804,09:21:11
154305,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.427,109.007,5.297,5.000000e+09,5.450390e+09,804,09:21:11
154306,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.433,109.013,5.294,1.000000e+09,1.090138e+09,804,09:50:20
154307,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.436,109.016,5.293,5.000000e+09,5.450840e+09,804,09:50:20
154308,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.436,109.016,5.293,5.000000e+09,5.450840e+09,804,09:50:20
154309,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.437,109.017,5.292,5.000000e+09,5.450890e+09,804,09:50:20
154310,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.438,109.018,5.292,5.000000e+09,5.450940e+09,804,09:50:21
154311,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.440,109.020,5.291,5.000000e+09,5.451040e+09,804,09:50:21
154312,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.440,109.020,5.291,4.000000e+09,4.360832e+09,804,09:50:21
154313,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.450,109.030,5.286,1.500000e+09,1.635462e+09,804,09:50:28
154314,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.446,109.026,5.288,2.000000e+09,2.180536e+09,804,09:56:13
154315,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.404,108.984,5.308,5.000000e+09,5.449240e+09,804,10:36:35
154316,2017-06-29,SEN,TFIT06110919,2013-09-11,2019-09-11,103.369,108.949,5.325,2.000000e+10,2.178996e+10,804,11:49:53
...,...,...,...,...,...,...,...,...,...,...,...,...
154446,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.297,105.371,5.947,5.000000e+09,5.268550e+09,1769,08:35:59
154447,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.297,105.371,5.947,5.000000e+09,5.268550e+09,1769,08:35:59
154448,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.293,105.367,5.948,5.000000e+09,5.268350e+09,1769,08:35:59
154449,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:36:00
154450,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.282,105.356,5.951,5.000000e+09,5.267800e+09,1769,08:36:00
154451,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.264,105.338,5.955,5.000000e+09,5.266900e+09,1769,08:36:05
154452,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.242,105.316,5.960,5.000000e+09,5.265800e+09,1769,08:36:08
154453,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.242,105.316,5.960,5.000000e+09,5.265800e+09,1769,08:57:40
154454,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.254,105.328,5.957,5.000000e+09,5.266400e+09,1769,08:57:40
154455,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.268,105.342,5.954,5.000000e+09,5.267100e+09,1769,08:57:40
154456,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.272,105.346,5.953,5.000000e+09,5.267300e+09,1769,08:57:40
154457,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.276,105.350,5.952,5.000000e+09,5.267500e+09,1769,08:57:40
154458,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.280,105.353,5.951,5.000000e+09,5.267700e+09,1769,08:57:40
154459,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.280,105.353,5.951,5.000000e+09,5.267700e+09,1769,08:57:40
154460,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.284,105.357,5.951,5.000000e+09,5.267900e+09,1769,08:57:40
154461,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.285,105.359,5.950,5.000000e+09,5.267950e+09,1769,08:57:40
154462,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:57:40
154463,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:57:40
154464,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:57:40
154465,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:57:40
154466,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.289,105.363,5.949,5.000000e+09,5.268150e+09,1769,08:57:40
154467,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.327,105.400,5.940,5.000000e+09,5.270050e+09,1769,09:00:12
154468,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.285,105.359,5.950,2.500000e+09,2.633975e+09,1769,09:04:10
154469,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.281,105.355,5.951,2.500000e+09,2.633875e+09,1769,09:14:34
154470,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.281,105.355,5.951,2.500000e+09,2.633875e+09,1769,09:14:51
154471,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.285,105.359,5.950,5.000000e+09,5.267950e+09,1769,09:17:45
154472,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.281,105.355,5.951,2.500000e+09,2.633875e+09,1769,09:18:06
154473,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.326,105.400,5.940,5.000000e+09,5.270000e+09,1769,09:21:09
154474,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.335,105.408,5.938,5.000000e+09,5.270450e+09,1769,09:21:09
154475,2017-06-29,SEN,TFIT10040522,2012-05-04,2022-05-04,104.356,105.430,5.933,5.000000e+09,5.271500e+09,1769,09:21:12

# Verificamos los títulos
---
Veo que se repiten muchos valores en la columna `c_neomtecnico`, vamos a revisar cuántos títulos únicos hay en nuestros datos para los TFIT de 2017

In [7]:
titulos = pd.DataFrame(tfit17["c_nemotecnico"]).drop_duplicates(keep="first")
titulos.shape

(10, 1)

In [21]:
titulos["c_nemotecnico"].values[0]

'TFIT06110919'

In [15]:
for i in titulos.values:
    print(i[0])

TFIT06110919
TFIT06211118
TFIT10040522
TFIT15240720
TFIT15260826
TFIT16180930
TFIT16240724
TFIT16280428
TFIT16300632
TFIT11241018

In [25]:
for i in pd.DataFrame(tfit17["c_nemotecnico"]).drop_duplicates(keep="first").values:
    print(i[0])

TFIT06110919
TFIT06211118
TFIT10040522
TFIT15240720
TFIT15260826
TFIT16180930
TFIT16240724
TFIT16280428
TFIT16300632
TFIT11241018

# Cálculo de parámetros

In [58]:
def get_returns(TESData):
    
    df_titulos = pd.DataFrame(tfit17["c_nemotecnico"]).drop_duplicates(keep="first")
    titulos    = df_titulos["c_nemotecnico"].values
    
    tesdat = []
    tesnem = []
    
    for i in titulos:
        tesnem.append(i)
        
        temp     = TESData.loc[TESData["c_nemotecnico"] == i]
        temp.set_index(["c_hora"])
        #preciolim = temp.e_preciolimpio.resample("15T").mean()
        #retorno   = preciolim.diff()
        #print(temp[["c_hora", "e_preciolimpio"]].head())
        print(temp.index)

In [59]:
get_returns(tfit17)

Int64Index([154287, 154288, 154289, 154290, 154291, 154292, 154293, 154294,
            154295, 154296,
            ...
            289987, 289988, 289989, 289990, 289991, 289992, 289993, 289994,
            289995, 289996],
           dtype='int64', length=5818)
Int64Index([154399, 154400, 154401, 154402, 154403, 154404, 154405, 154406,
            154407, 156426,
            ...
            290060, 290061, 290062, 290063, 290064, 290065, 290066, 290067,
            290068, 290069],
           dtype='int64', length=2445)
Int64Index([154444, 154445, 154446, 154447, 154448, 154449, 154450, 154451,
            154452, 154453,
            ...
            290269, 290270, 290271, 290272, 290273, 290274, 290275, 290276,
            290277, 290278],
           dtype='int64', length=12720)
Int64Index([154590, 154591, 154592, 154593, 154594, 154595, 154596, 154597,
            154598, 154599,
            ...
            290464, 290465, 290466, 290467, 290468, 290469, 290470, 290471,
            290472, 290473],
           dtype='int64', length=10411)
Int64Index([154715, 154716, 154717, 154718, 154719, 154720, 154721, 154722,
            154723, 154724,
            ...
            290572, 290573, 290574, 290575, 290576, 290577, 290578, 290579,
            290580, 290581],
           dtype='int64', length=10019)
Int64Index([154771, 154772, 154773, 154774, 154775, 154776, 154777, 154778,
            154779, 154780,
            ...
            290584, 290585, 290586, 290587, 290588, 290589, 290590, 290591,
            290592, 290593],
           dtype='int64', length=1039)
Int64Index([155472, 155473, 155474, 155475, 155476, 155477, 155478, 155479,
            155480, 155481,
            ...
            290967, 290968, 290969, 290970, 290971, 290972, 290973, 290974,
            290975, 290976],
           dtype='int64', length=11478)
Int64Index([155523, 155524, 155525, 155526, 155527, 155528, 155529, 155530,
            155531, 155532,
            ...
            289815, 289816, 289817, 289818, 290979, 290980, 290981, 290982,
            290983, 290984],
           dtype='int64', length=514)
Int64Index([155542, 155543, 155544, 155545, 155546, 155547, 155548, 155549,
            155550, 155551,
            ...
            291030, 291031, 291032, 291033, 291034, 291035, 291036, 291037,
            291038, 291039],
           dtype='int64', length=5271)
Int64Index([156568, 156569, 156570, 156571, 157576, 159028, 159029, 161987,
            164578, 164579,
            ...
            278344, 282050, 283129, 283130, 283131, 283132, 283133, 283134,
            283135, 283136],
           dtype='int64', length=255)

# Pruebas
---
Esto sólo son pruebas, no hay nada importante aquí

In [2]:
tfit17 = pd.read_csv("Historico_Operaciones/TFIT_2017.csv", sep="|", 
                     parse_dates=["d_fechaoperacion", "d_fechaemistit", "d_fechacumpliento", "d_fechapago"])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
tfit17.head()

,d_fechaoperacion,c_sistnegcion,i_folio,c_nemotecnico,d_fechaemistit,d_fechaventit,i_numemisionbr,e_preciolimpio,e_preciototal,e_rentabilidad,...,i_fraccionventa,i_fraccioncompra,c_nitventa,c_nitcompra,i_corredorventa,i_corredorcompra,i_codigobroker,c_hora,c_broker,c_tipooperacion
0,2017-01-02,SEN,378,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,...,0,0,NaN,NaN,0,0,0,00:00,NaN,NaN
1,2017-01-02,SEN,377,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,...,0,0,NaN,NaN,0,0,0,00:00,NaN,NaN
2,2017-01-02,SEN,376,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,...,0,0,NaN,NaN,0,0,0,00:00,NaN,NaN
3,2017-01-02,MEC,558,TFIT06211118,2012-11-21,2018-11-21,55081,97.994,98.569,6.151,...,0,0,NaN,NaN,375,419,0,NaN,N,N
4,2017-01-02,MEC,492,TFIT06211118,2012-11-21,2018-11-21,55081,97.967,98.542,6.167,...,0,0,NaN,NaN,318,464,0,NaN,N,N

In [4]:
tfit17.columns

Index(['d_fechaoperacion', 'c_sistnegcion', 'i_folio', 'c_nemotecnico',
       'd_fechaemistit', 'd_fechaventit', 'i_numemisionbr', 'e_preciolimpio',
       'e_preciototal', 'e_rentabilidad', 'e_cantidad', 'e_volumen',
       'i_diasalvenciento', 'c_moneda', 'e_valormoneda', 'c_clase',
       'd_fechacumpliento', 'i_diasalcumpliento', 'c_indicador', 'e_tasacupon',
       'c_sesion', 'e_margen', 'i_numerocupon', 'e_amortizacion',
       'd_fechapago', 'e_interes', 'e_flujototal', 'e_saldamrtizacion',
       'i_filtromonto', 'i_filtrotasa', 'c_amplitud', 'c_numcontrol',
       'i_grucalificacion', 'i_grutipotasa', 'i_grumoneda', 'i_rangvencimi',
       'i_diasvencimiento', 'c_tipotitulo', 'i_metodofiltro',
       'i_codfiltroaplicdo', 'e_errorprecio', 'c_caja', 'c_grupo', 'c_estado',
       'c_modalidad', 'c_reinversion', 'i_fraccionventa', 'i_fraccioncompra',
       'c_nitventa', 'c_nitcompra', 'i_corredorventa', 'i_corredorcompra',
       'i_codigobroker', 'c_hora', 'c_broker', 'c_tipooperacion'],
      dtype='object')

In [23]:
tfit17 = tfit17.drop(columns=['c_clase', 'd_fechacumpliento', 'i_diasalcumpliento', 'c_indicador', 'e_tasacupon',
                      'c_sesion', 'e_margen', 'i_numerocupon', 'e_amortizacion', 'd_fechapago', 'e_interes',
                      'e_flujototal', 'e_saldamrtizacion', 'i_filtromonto', 'i_filtrotasa', 'c_amplitud',
                      'c_numcontrol', 'i_grucalificacion', 'i_grutipotasa', 'i_grumoneda', 'i_rangvencimi',
                      'i_diasvencimiento', 'i_metodofiltro', 'i_codfiltroaplicdo', 'e_errorprecio', 'c_caja',
                      'c_grupo', 'c_estado', 'c_modalidad', 'c_reinversion', 'i_fraccionventa', 'i_fraccioncompra',
                      'c_nitventa', 'c_nitcompra', 'i_corredorventa', 'i_corredorcompra', 'i_codigobroker'])

In [24]:
tfit17.head()

,d_fechaoperacion,c_sistnegcion,i_folio,c_nemotecnico,d_fechaemistit,d_fechaventit,i_numemisionbr,e_preciolimpio,e_preciototal,e_rentabilidad,e_cantidad,e_volumen,i_diasalvenciento,c_moneda,e_valormoneda,c_tipotitulo,c_hora,c_broker,c_tipooperacion
0,2017-01-02,SEN,378,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,1.000000e+09,1.035851e+09,982,COP,1.0,TES,00:00,NaN,NaN
1,2017-01-02,SEN,377,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,1.000000e+09,1.035851e+09,982,COP,1.0,TES,00:00,NaN,NaN
2,2017-01-02,SEN,376,TFIT06110919,2013-09-11,2019-09-11,55420,101.418,103.585,6.390,1.000000e+09,1.035851e+09,982,COP,1.0,TES,00:00,NaN,NaN
3,2017-01-02,MEC,558,TFIT06211118,2012-11-21,2018-11-21,55081,97.994,98.569,6.151,3.000000e+09,2.957079e+09,688,COP,1.0,TES,NaN,N,N
4,2017-01-02,MEC,492,TFIT06211118,2012-11-21,2018-11-21,55081,97.967,98.542,6.167,5.000000e+09,4.927115e+09,688,COP,1.0,TES,NaN,N,N

In [26]:
# dfc['Time_of_Sail'] = pd.to_datetime(dfc['Time_of_Sail'],format= '%H:%M:%S' ).dt.time
#tfit17['c_hora'] = pd.to_datetime(tfit17['c_hora'],format= '%H:%M' ).dt.time

In [31]:
#mecTFIT17 = tfit17.loc[tfit17["c_sistnegcion"]=="MEC"]

# Solo nos sirven los datos del SEN

senTFIT17 = tfit17.loc[(tfit17["c_sistnegcion"]=="SEN") & (tfit17["c_hora"] != "00:00")]

In [21]:
senTFIT17.head(65)

,d_fechaoperacion,c_sistnegcion,i_folio,c_nemotecnico,d_fechaemistit,d_fechaventit,i_numemisionbr,e_preciolimpio,e_preciototal,e_rentabilidad,...,i_fraccionventa,i_fraccioncompra,c_nitventa,c_nitcompra,i_corredorventa,i_corredorcompra,i_codigobroker,c_hora,c_broker,c_tipooperacion
154287,2017-06-29,SEN,222,TFIT06110919,2013-09-11,2019-09-11,222,103.335,108.915,5.341,...,0,0,0.0,0.0,0,0,0,08:42:47,0,0
154288,2017-06-29,SEN,228,TFIT06110919,2013-09-11,2019-09-11,228,103.335,108.915,5.341,...,0,0,0.0,0.0,0,0,0,08:44:18,0,0
154289,2017-06-29,SEN,229,TFIT06110919,2013-09-11,2019-09-11,229,103.325,108.905,5.346,...,0,0,0.0,0.0,0,0,0,08:44:18,0,0
154290,2017-06-29,SEN,250,TFIT06110919,2013-09-11,2019-09-11,250,103.377,108.957,5.321,...,0,0,0.0,0.0,0,0,0,08:57:41,0,0
154291,2017-06-29,SEN,251,TFIT06110919,2013-09-11,2019-09-11,251,103.377,108.957,5.321,...,0,0,0.0,0.0,0,0,0,08:57:41,0,0
154292,2017-06-29,SEN,343,TFIT06110919,2013-09-11,2019-09-11,343,103.385,108.965,5.317,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154293,2017-06-29,SEN,344,TFIT06110919,2013-09-11,2019-09-11,344,103.394,108.974,5.313,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154294,2017-06-29,SEN,345,TFIT06110919,2013-09-11,2019-09-11,345,103.398,108.978,5.311,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154295,2017-06-29,SEN,346,TFIT06110919,2013-09-11,2019-09-11,346,103.401,108.981,5.309,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154296,2017-06-29,SEN,347,TFIT06110919,2013-09-11,2019-09-11,347,103.402,108.982,5.309,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154297,2017-06-29,SEN,348,TFIT06110919,2013-09-11,2019-09-11,348,103.408,108.988,5.306,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154298,2017-06-29,SEN,349,TFIT06110919,2013-09-11,2019-09-11,349,103.411,108.991,5.304,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154299,2017-06-29,SEN,350,TFIT06110919,2013-09-11,2019-09-11,350,103.415,108.995,5.303,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154300,2017-06-29,SEN,351,TFIT06110919,2013-09-11,2019-09-11,351,103.416,108.996,5.302,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154301,2017-06-29,SEN,352,TFIT06110919,2013-09-11,2019-09-11,352,103.416,108.996,5.302,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154302,2017-06-29,SEN,353,TFIT06110919,2013-09-11,2019-09-11,353,103.417,108.997,5.302,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154303,2017-06-29,SEN,354,TFIT06110919,2013-09-11,2019-09-11,354,103.419,108.999,5.301,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154304,2017-06-29,SEN,355,TFIT06110919,2013-09-11,2019-09-11,355,103.425,109.005,5.298,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154305,2017-06-29,SEN,356,TFIT06110919,2013-09-11,2019-09-11,356,103.427,109.007,5.297,...,0,0,0.0,0.0,0,0,0,09:21:11,0,0
154306,2017-06-29,SEN,455,TFIT06110919,2013-09-11,2019-09-11,455,103.433,109.013,5.294,...,0,0,0.0,0.0,0,0,0,09:50:20,0,0
154307,2017-06-29,SEN,456,TFIT06110919,2013-09-11,2019-09-11,456,103.436,109.016,5.293,...,0,0,0.0,0.0,0,0,0,09:50:20,0,0
154308,2017-06-29,SEN,457,TFIT06110919,2013-09-11,2019-09-11,457,103.436,109.016,5.293,...,0,0,0.0,0.0,0,0,0,09:50:20,0,0
154309,2017-06-29,SEN,458,TFIT06110919,2013-09-11,2019-09-11,458,103.437,109.017,5.292,...,0,0,0.0,0.0,0,0,0,09:50:20,0,0
154310,2017-06-29,SEN,459,TFIT06110919,2013-09-11,2019-09-11,459,103.438,109.018,5.292,...,0,0,0.0,0.0,0,0,0,09:50:21,0,0
154311,2017-06-29,SEN,460,TFIT06110919,2013-09-11,2019-09-11,460,103.440,109.020,5.291,...,0,0,0.0,0.0,0,0,0,09:50:21,0,0
154312,2017-06-29,SEN,461,TFIT06110919,2013-09-11,2019-09-11,461,103.440,109.020,5.291,...,0,0,0.0,0.0,0,0,0,09:50:21,0,0
154313,2017-06-29,SEN,462,TFIT06110919,2013-09-11,2019-09-11,462,103.450,109.030,5.286,...,0,0,0.0,0.0,0,0,0,09:50:28,0,0
154314,2017-06-29,SEN,466,TFIT06110919,2013-09-11,2019-09-11,466,103.446,109.026,5.288,...,0,0,0.0,0.0,0,0,0,09:56:13,0,0
154315,2017-06-29,SEN,666,TFIT06110919,2013-09-11,2019-09-11,666,103.404,108.984,5.308,...,0,0,0.0,0.0,0,0,0,10:36:35,0,0
154316,2017-06-29,SEN,904,TFIT06110919,2013-09-11,2019-09-11,904,103.369,108.949,5.325,...,0,0,0.0,0.0,0,0,0,11:49:53,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154322,2017-06-29,SEN,910,TFIT06110919,2013-09-11,2019-09-11,910,103.357,108.937,5.330,...,0,0,0.0,0.0,0,0,0,11:49:53,0,0
154323,2017-06-29,SEN,918,TFIT06110919,2013-09-11,2019-09-11,918,103.362,108.942,5.328,...,0,0,0.0,0.0,0,0,0,11:50:03,0,0
154324,2017-06-29,SEN,919,TFIT06110919,2013-09-11,2019-09-11,919,103.358,108.938,5.330,...,0,0,0.0,0.0,0,0,0,11:50:40,0,0
154325,2017-06-29,SEN,992,TFIT06110919,2013-09-11,2019-09-11,992,103.398,108.978,5.311,...,0,0,0.0,0.0,0,0,0,12:10:46,0,0
154326,2017-06-29,SEN,1011,TFIT06110919,2013-09-11,2019-09-11,1011,103.388,108.968,5.316,...,0,0,0.0,0.0,0,0,0,12:21:26,0,0
154327,2017-06-29,SEN,1013,TFIT06110919,2013-09-11,2019-09-11,1013,103.388,108.968,5.316,...,0,0,0.0,0.0,0,0,0,12:21:31,0,0
154328,2017-06-29,SEN,1016,TFIT06110919,2013-09-11,2019-09-11,1016,103.377,108.957,5.321,...,0,0,0.0,0.0,0,0,0,12:23:22,0,0
154329,2017-06-29,SEN,1048,TFIT06110919,2013-09-11,2019-09-11,1048,103.369,108.949,5.325,...,0,0,0.0,0.0,0,0,0,12:39:42,0,0
154330,2017-06-29,SEN,1049,TFIT06110919,2013-09-11,2019-09-11,1049,103.377,108.957,5.321,...,0,0,0.0,0.0,0,0,0,12:40:21,0,0
154331,2017-06-29,SEN,1050,TFIT06110919,2013-09-11,2019-09-11,1050,103.375,108.955,5.322,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154332,2017-06-29,SEN,1051,TFIT06110919,2013-09-11,2019-09-11,1051,103.377,108.957,5.321,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154333,2017-06-29,SEN,1052,TFIT06110919,2013-09-11,2019-09-11,1052,103.381,108.961,5.319,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154334,2017-06-29,SEN,1053,TFIT06110919,2013-09-11,2019-09-11,1053,103.388,108.968,5.316,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154335,2017-06-29,SEN,1054,TFIT06110919,2013-09-11,2019-09-11,1054,103.390,108.970,5.315,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154336,2017-06-29,SEN,1055,TFIT06110919,2013-09-11,2019-09-11,1055,103.391,108.971,5.314,...,0,0,0.0,0.0,0,0,0,12:41:38,0,0
154337,2017-06-29,SEN,1056,TFIT06110919,2013-09-11,2019-09-11,1056,103.392,108.972,5.314,...,0,0,0.0,0.0,0,0,0,12:41:47,0,0
154338,2017-06-29,SEN,1057,TFIT06110919,2013-09-11,2019-09-11,1057,103.392,108.972,5.314,...,0,0,0.0,0.0,0,0,0,12:41:49,0,0
154339,2017-06-29,SEN,1180,TFIT06110919,2013-09-11,2019-09-11,1180,103.419,108.999,5.301,...,0,0,0.0,0.0,0,0,0,12:56:11,0,0
154340,2017-06-29,SEN,1184,TFIT06110919,2013-09-11,2019-09-11,1184,103.438,109.018,5.292,...,0,0,0.0,0.0,0,0,0,12:58:18,0,0
154341,2017-06-29,SEN,1185,TFIT06110919,2013-09-11,2019-09-11,1185,103.439,109.019,5.291,...,0,0,0.0,0.0,0,0,0,12:58:18,0,0
154342,2017-06-29,SEN,1186,TFIT06110919,2013-09-11,2019-09-11,1186,103.459,109.039,5.281,...,0,0,0.0,0.0,0,0,0,12:58:18,0,0
154343,2017-06-29,SEN,1187,TFIT06110919,2013-09-11,2019-09-11,1187,103.460,109.040,5.281,...,0,0,0.0,0.0,0,0,0,12:58:18,0,0
154344,2017-06-29,SEN,1188,TFIT06110919,2013-09-11,2019-09-11,1188,103.461,109.041,5.281,...,0,0,0.0,0.0,0,0,0,12:58:18,0,0
154345,2017-06-29,SEN,1189,TFIT06110919,2013-09-11,2019-09-11,1189,103.465,109.045,5.279,...,0,0,0.0,0.0,0,0,0,12:58:24,0,0
154399,2017-06-29,SEN,984,TFIT06211118,2012-11-21,2018-11-21,984,100.266,103.279,4.778,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0
154400,2017-06-29,SEN,985,TFIT06211118,2012-11-21,2018-11-21,985,100.269,103.282,4.776,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0
154401,2017-06-29,SEN,986,TFIT06211118,2012-11-21,2018-11-21,986,100.270,103.283,4.775,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0
154402,2017-06-29,SEN,987,TFIT06211118,2012-11-21,2018-11-21,987,100.271,103.284,4.774,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0
154403,2017-06-29,SEN,988,TFIT06211118,2012-11-21,2018-11-21,988,100.273,103.286,4.773,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0
154404,2017-06-29,SEN,989,TFIT06211118,2012-11-21,2018-11-21,989,100.273,103.286,4.773,...,0,0,0.0,0.0,0,0,0,12:10:36,0,0

In [32]:
np.shape(senTFIT17)

(59970, 19)

In [74]:
senTFIT17['c_hora'] = pd.to_datetime(senTFIT17['c_hora'],format= '%H:%M:%S').dt.time

In [75]:
type(senTFIT17["c_hora"].values[0])

datetime.time

In [100]:
def clean_data(tesdata):
    tesdata = tesdata.drop(columns=['c_clase', 'd_fechacumpliento', 'i_diasalcumpliento', 'c_indicador',
                                    'e_tasacupon', 'c_sesion', 'e_margen', 'i_numerocupon', 'e_amortizacion',
                                    'd_fechapago', 'e_interes', 'e_flujototal', 'e_saldamrtizacion',
                                    'i_filtromonto', 'i_filtrotasa', 'c_amplitud', 'c_numcontrol',
                                    'i_grucalificacion', 'i_grutipotasa', 'i_grumoneda', 'i_rangvencimi',
                                    'i_diasvencimiento', 'i_metodofiltro', 'i_codfiltroaplicdo', 'e_errorprecio',
                                    'c_caja', 'c_grupo', 'c_estado', 'c_modalidad', 'c_reinversion', 
                                    'i_fraccionventa', 'i_fraccioncompra', 'c_nitventa', 'c_nitcompra',
                                    'i_corredorventa', 'i_corredorcompra', 'i_codigobroker'])
    
    # Eliminamos las horas iguales a 00:00
    tesdata = tesdata.loc[(tesdata["c_sistnegcion"]=="SEN") & (tesdata["c_hora"] != "00:00")]
    
    # Convertirmos las horas al formato correspondiente
    tesdata['c_hora'] = pd.to_datetime(tesdata['c_hora'],format= '%H:%M:%S').dt.time
    
    return tesdata

In [102]:
def import_data():
    
    pathTesis = os.getcwd()
    pathData  = os.path.join(pathTesis,'Historico_Operaciones')
    
    filenames = glob.glob(pathData+"/*.csv")
    
    varnames  = []
    alldata   = []
    
    for i in filenames:
        
        # Guardamos los datos de los archivos csv
        temp = pd.read_csv(i, sep="|", parse_dates=["d_fechaoperacion", "d_fechaemistit",
                                                      "d_fechacumpliento", "d_fechapago"])
        # Aplicamos la funcion que limpia los datos
        temp = clean_data(temp)
        alldata.append(temp)
        
        # Generamos los keys del diccionario que contiene los datos
        # i.e. aqui esta el nombre del dataframe de los datos
        
        base   = os.path.basename(i)
        dfname = os.path.splitext(base)[0]
        varnames.append(dfname)
        
    return dict(zip(varnames, alldata))

In [101]:
aatest = import_data()

<class 'numpy.ndarray'>

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [86]:
type(aatest["TFIT_2017"]["c_hora"])

pandas.core.series.Series